@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,700&display=swap");

body {
  font-family: "Truculenta", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  border: 5px solid rgb(64, 0, 128);
  box-sizing: border-box;
  height: 100vh;
}

nav {
  font-family: "Grenze Gotisch", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid rgb(4, 24, 81);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkslateblue;
  text-emphasis-color: white;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: rgb(8, 8, 4);
}

h2 {
  text-align: center;
  padding: 5px 10px;
  margin-top: 0;
}

.nav {
  margin-left: 40px;
  margin-right: 40px;
}

nav > a,
li > a {
  color: rgb(251, 243, 232);
}

fieldset {
  background-color: rgb(208, 224, 254);
  border: 2px solid rgb(1, 15, 54);
  border-radius: 10px;
  padding: 0 10px 10px 25px;
  width: 100%;
  justify-content: center;
}

input {
  font-family: "Truculenta", sans-serif;
  font-size: smaller;
  margin-top: 5px;
  font-weight: 100;
}

bookmark-div > a {
  color: brown;
  padding-left: 10px;
  font-size: 15px;
}

input [type="submit"] {
  font-size: 16px;
}

.show {
  margin-left: 15px;
}

form {
  margin-left: 30%;
  margin-right: 30%;
}

.add-new-button {
  height: fit-content;
}

.bookmarks {
  margin-left: 20px;
  border: 2px solid blue;
}
